<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab3-background">
  <div *ngFor="let pelicula of favoritoGenero">

    <ion-grid  *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h4>{{ pelicula.genero }}</h4>
        </ion-col>
      </ion-row>

      <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>

    </ion-grid>



  </div>


</ion-content>
