// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-nova: #e30613;
  --ion-color-nova-rgb: 227, 6, 19;

  --ion-color-nova-contrast: #ffffff;
  --ion-color-nova-contrast-rgb: 255, 255, 255;

  --ion-color-nova-shade: #c20511;
  --ion-color-nova-tint: #e61f2b;

  --ion-color-danger: #ffa31a;
  --ion-color-danger-rgb: 255, 163, 26;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e08f18;
  --ion-color-danger-tint: #ffab32;
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger);
  --ion-color-base-rgb: var(--ion-color-danger-rgb);
  --ion-color-contrast: var(--ion-color-danger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
  --ion-color-shade: var(--ion-color-danger-shade);
  --ion-color-tint: var(--ion-color-danger-tint);
}
