ion-toolbar {
  --background: #1b1b1b;
  --color: #ffa31a;
}

ion-searchbar {
  --background: transparent;          // Para fondo transparente si quieres
  --color: #808080;                     // Texto blanco
  --placeholder-color: rgba(255,255,255,0.7); // Placeholder blanco con opacidad

  /* Opcional: cambia el color del icono de lupa */
  --icon-color: #808080;

  /* Opcional: barra de borde o sombra para que resalte */
  --box-shadow: 0 0 5px rgba(255,255,255,0.3);
}
