ion-toolbar {
  --background: #1b1b1b; //
  --color: #ffa31a;
}

.cinemex-background {
  --background: #ffa31a; // Gris claro de fondo
}

ion-card-title {
  color: #ffa31a; // Para títulos de sección
  font-weight: bold;
  font-size: 1.2rem;
}

ion-card {
  border-radius: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
